In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Loads 
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
#Filter out those that received less than 50
passed_math = school_data_complete.loc[school_data_complete['maths_score']>49,:]

In [59]:
#Perform calculations for a high level snapshot of school data.
#apply sorting by school on the passed math list
math_sort = passed_math.groupby(['school_name']) ,['size'],['student_name'].count()
math_df = pd.DataFrame(passed_math.groupby(['school_name', 'size'])['student_name'].count())

#math_df = math_df.astype(int)

math_df

TypeError: list.count() takes exactly one argument (0 given)

In [35]:
#create datafile of results

#create datafile of results
SS_p_result = pd.DataFrame(passed_math.groupby(['school_name', 'size'])['student_name'].count())
# get percent result
#SS_percent = (SS_p_result['student_name']/ SS_p_result['size'])
#SS_M_df = pd.DataFrame(SS_p_result)
SS_p_result

                            student_name
school_name           size
Bailey High School    4976          4560
Cabrera High School   1858          1688
Figueroa High School  2949          2408
Ford High School      2739          2258
Griffin High School   1468          1339
Hernandez High School 4635          3752
Holden High School    427            384
Huang High School     2917          2383
Johnson High School   4761          3907
Pena High School      962            882
Rodriguez High School 3999          3631
Shelton High School   1761          1612
Thomas High School    1635          1371
Wilson High School    2283          1890
Wright High School    1800          1652

In [ ]:
#create the DataFile of the above results, called 'area_summary. and apply some formatting
area_summary = pd.DataFrame([[total_schools, total_students, total_budget, avg_math, avg_read,
                              percent_math, percent_read, percent_passed]],
                            columns=['Total Schools', 'Total Students', 'Total Budget', 'Average Maths Score',
                                    'Average Reading Score', '% Passing Maths', '% Passing Reading', 
                                    '% Overall Passing'])