# PyCity Schools Module 4 Challenge

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Loads 
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)
print("school_data['school_name'] type:", type(school_data['school_name'].iloc[0]))
print("student_data['school_name'] type:", type(student_data['school_name'].iloc[0]))

school_data['school_name'] type: <class 'str'>
student_data['school_name'] type: <class 'str'>

In [2]:
# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

## Local Government Area summary DataFile creation - Student results

In [3]:
#Perform claculations for a high level snapshot of students 
#Calculate the total number of schools, store in variable
total_schools = school_data['school_name'].count()
#Calculate the total number of students, store in variable
total_students = student_data['student_name'].count()
#Calcluate the toal budget, store in variable.
total_budget = school_data['budget'].sum()
#Calculate the average maths score
avg_math = school_data_complete['maths_score'].mean()
#Calculate the average reading score
avg_read = school_data_complete['reading_score'].mean()
#Calculate the percent passing maths. Pass grade is 50
#Filter out those that received less than 50
passed_math = school_data_complete.loc[school_data_complete['maths_score']>49,:]
percent_math = passed_math['student_name'].count()/total_students *100
#Calculate the percent passing reading. Pass grade is 50
#filter out those that received less than 50.
passed_read = school_data_complete.loc[school_data_complete['reading_score']>49,:]
percent_read = passed_read['student_name'].count()/ total_students * 100
#Calculate the percent who passed both maths and reading. Combine passed_math and passed_read
passed_both = school_data_complete.loc[(school_data_complete['maths_score']>49) &
                                      (school_data_complete['reading_score']>49)]
percent_passed = passed_both['student_name'].count() / total_students * 100

In [4]:
#create the DataFile of the above results, called 'area_summary. and apply some formatting
area_summary = pd.DataFrame([[total_schools, total_students, total_budget, avg_math, avg_read,
                              percent_math, percent_read, percent_passed]],
                            columns=['Total Schools', 'Total Students', 'Total Budget', 'Average Maths Score',
                                    'Average Reading Score', '% Passing Maths', '% Passing Reading', 
                                    '% Overall Passing'])

area_summary.head()

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

## School Summary creation

In [5]:
# Grouping data by school name
grouped_school = school_data_complete.groupby('school_name')
# Calculating total students per school
total_students = grouped_school['Student ID'].count()

# Calculating total school budget
total_school_budget = grouped_school['budget'].first()

# Calculating school type
school_type = grouped_school['type'].first()

# Calculating average math score per school
avg_math_score = grouped_school['maths_score'].mean()

# Calculating average reading score per school
avg_reading_score = grouped_school['reading_score'].mean()

# Calculating percent passing math per school
passing_math = school_data_complete[school_data_complete['maths_score'] >= 50]
passing_math_grouped = passing_math.groupby('school_name')['Student ID'].count()
percent_passing_math = (passing_math_grouped / total_students) * 100

# Calculating percent passing reading per school
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 50]
passing_reading_grouped = passing_reading.groupby('school_name')['Student ID'].count()
percent_passing_reading = (passing_reading_grouped / total_students) * 100

# Calculating number of students passing both math and reading per school
passing_both = school_data_complete[(school_data_complete['maths_score'] >= 50) & (school_data_complete['reading_score'] >= 50)]
passing_both_grouped = passing_both.groupby('school_name')['Student ID'].count()
# Calculating overall passing rate per school
percent_passed = (passing_both_grouped / total_students) * 100

In [6]:
# Creating overview DataFrame
summary_df = pd.DataFrame({
    'School Type': school_type,
    'Total Students': total_students,
    'Total School Budget': total_school_budget,
    'Per Student Budget': total_school_budget / total_students,
    'Average Math Score': avg_math_score,
    'Average Reading Score': avg_reading_score,
    '% Passing Math': percent_passing_math,
    '% Passing Reading': percent_passing_reading,
    '% Overall Passing': percent_passed
})
summary_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150

### Highest performing schools (by % Overall Passing)

In [7]:
top_schools = summary_df.sort_values(by='% Overall Passing', ascending=False)
top_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,91.212534,88.487738,81.335150
Cabrera High School,Independent,1858,1081356,582.0,71.657158,71.359526,90.850377,89.074273,80.785791
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,91.639871,87.379421,80.084405
Wright High School,Independent,1800,1049400,583.0,72.047222,70.969444,91.777778,86.666667,79.722222
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,90.797699,87.396849,79.419855

### Lowest Performing Schools (by % Overall Passing)

In [8]:
bottom_schools = summary_df.sort_values(by='% Overall Passing', ascending=True)
bottom_schools.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,80.949299,81.877023,66.364617
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,82.062592,81.978576,67.191766
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,82.785808,81.296540,67.455103
Ford High School,Government,2739,1763916,644.0,69.091274,69.572472,82.438846,82.219788,67.469880

### Maths Scores by Year

In [9]:
# Create separate Pandas Series for each year level
maths_score_9 = school_data_complete.loc[school_data_complete['year'] == 9].groupby('school_name')['maths_score'].mean()
maths_score_10 = school_data_complete.loc[school_data_complete['year'] == 10].groupby('school_name')['maths_score'].mean()
maths_score_11 = school_data_complete.loc[school_data_complete['year'] == 11].groupby('school_name')['maths_score'].mean()
maths_score_12 = school_data_complete.loc[school_data_complete['year'] == 12].groupby('school_name')['maths_score'].mean()

# Combine the series into a DataFrame
average_maths_scores_by_year = pd.DataFrame({
    'Year 9': maths_score_9,
    'Year 10': maths_score_10,
    'Year 11': maths_score_11,
    'Year 12': maths_score_12
})

average_maths_scores_by_year.head()

                         Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School    72.493827  71.897498  72.374900  72.675097
Cabrera High School   72.321970  72.437768  71.008299  70.604712
Figueroa High School  68.477804  68.331586  68.811001  69.325282
Ford High School      69.021609  69.387006  69.248862  68.617811
Griffin High School   72.789731  71.093596  71.692521  71.469178

### Reading Scores by year

In [10]:
# Create separate Pandas Series for each year level
reading_score_9 = school_data_complete.loc[school_data_complete['year'] == 9].groupby('school_name')['reading_score'].mean()
reading_score_10 = school_data_complete.loc[school_data_complete['year'] == 10].groupby('school_name')['reading_score'].mean()
reading_score_11 = school_data_complete.loc[school_data_complete['year'] == 11].groupby('school_name')['reading_score'].mean()
reading_score_12 = school_data_complete.loc[school_data_complete['year'] == 12].groupby('school_name')['reading_score'].mean()

# Combine the series into a DataFrame
average_reading_scores_by_year = pd.DataFrame({
    'Year 9': reading_score_9,
    'Year 10': reading_score_10,
    'Year 11': reading_score_11,
    'Year 12': reading_score_12
})
average_reading_scores_by_year.head()

                         Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School    70.901920  70.848265  70.317346  72.195525
Cabrera High School   71.172348  71.328326  71.201245  71.856021
Figueroa High School  70.261682  67.677588  69.152327  69.082126
Ford High School      69.615846  68.988701  70.735964  68.849722
Griffin High School   72.026895  70.746305  72.385042  69.434932

### Scores by School Spending

In [11]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [12]:
# Add a new column to summary_df indicating the spending range for each school
summary_df['Spending Ranges (Per Student)'] = pd.cut(
    summary_df['Per Student Budget'],
    bins=spending_bins, labels=labels)
# Group by spending ranges
grouped_spending = summary_df.groupby('Spending Ranges (Per Student)')

In [13]:

# Calculate mean scores for each spending range
spending_math_scores = grouped_spending["Average Math Score"].mean().round(2)
spending_reading_scores = grouped_spending["Average Reading Score"].mean().round(2)
spending_passing_math = grouped_spending["% Passing Math"].mean().round(2)
spending_passing_reading = grouped_spending["% Passing Reading"].mean().round(2)
overall_passing_spending = grouped_spending["% Overall Passing"].mean().round(2)

In [14]:
# Create DataFrame for the results
spending_performance_df = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing Rate": overall_passing_spending
})

spending_performance_df.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,71.36,70.72,88.84,86.39,76.72
$585-630,72.07,71.03,91.52,87.29,79.88
$630-645,69.85,69.84,84.69,83.76,71.00
$645-680,68.88,69.05,81.57,81.77,66.76

### Scores by School Size

In [15]:
#per_school_summary code and for type_summary, size_summary
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [16]:
# Add a new column to summary_df indicating the size range for each school
summary_df['School Size'] = pd.cut(
    summary_df['Total Students'], 
    bins=size_bins, labels=labels)
# Group by school size
grouped_size = summary_df.groupby('School Size')

In [17]:
# Calculate mean scores for each school size
size_math_scores = grouped_size["Average Math Score"].mean().round(2)
size_reading_scores = grouped_size["Average Reading Score"].mean().round(2)
size_passing_math = grouped_size["% Passing Math"].mean().round(2)
size_passing_reading = grouped_size["% Passing Reading"].mean().round(2)
overall_passing_size = grouped_size["% Overall Passing"].mean().round(2)

In [18]:
# Create DataFrame for the results
size_performance_df = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Math": size_passing_math,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing Rate": overall_passing_size
})

size_performance_df.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Size,,,,,
Small (<1000),72.34,71.64,90.81,87.56,79.07
Medium (1000-2000),71.42,70.72,89.85,86.71,78.04
Large (2000-5000),69.75,69.58,84.25,83.30,70.29

### Scores by School Type

In [19]:
# Group by school type
grouped_type = summary_df.groupby('School Type')

In [20]:
# Calculate mean scores for each school type
type_math_scores = grouped_type["Average Math Score"].mean().round(2)
type_reading_scores = grouped_type["Average Reading Score"].mean().round(2)
type_passing_math = grouped_type["% Passing Math"].mean().round(2)
type_passing_reading = grouped_type["% Passing Reading"].mean().round(2)
overall_passing_type = grouped_type["% Overall Passing"].mean().round(2)

In [21]:
school_type_df = pd.DataFrame({
    "Average Math Score": type_math_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Math": type_passing_math,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing Rate": overall_passing_type
})
school_type_df.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Government,69.83,69.68,84.46,83.59,70.70
Independent,71.37,70.72,89.20,86.25,76.97