# PyCity Schools Module 4 Challenge

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Loads 
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

Local Government Area summary DataFile creation - Student results

In [40]:
#Perform claculations for a high level snapshot of students 
#Calculate the totoal number of schools, store in variable
total_schools = school_data['school_name'].count()

#Calculate the total number of students, store in variable
total_students = student_data['student_name'].count()
#Calcluate the toal budget, store in variable.
total_budget = school_data['budget'].sum()
#Calculate the average maths score
avg_math = school_data_complete['maths_score'].mean()
#Calculate the average reading score
avg_read = school_data_complete['reading_score'].mean()
#Calculate the percent passing maths. Pass grade is 50
#Filter out those that received less than 50
passed_math = school_data_complete.loc[school_data_complete['maths_score']>49,:]
percent_math = passed_math['student_name'].count()/total_students *100
#Calculate the percent passing reading. Pass grade is 50
#filter out those that received less than 50.
passed_read = school_data_complete.loc[school_data_complete['reading_score']>49,:]
percent_read = passed_read['student_name'].count()/ total_students * 100
#Calculate the percent who passed both maths and reading. Combine passed_math and passed_read
passed_both = school_data_complete.loc[(school_data_complete['maths_score']>49) &
                                      (school_data_complete['reading_score']>49)]
percent_passed = passed_both['student_name'].count() / total_students * 100

In [43]:
#create the DataFile of the above results, called 'area_summary. and apply some formatting
area_summary = pd.DataFrame([[total_schools, total_students, total_budget, avg_math, avg_read,
                              percent_math, percent_read, percent_passed]],
                            columns=['Total Schools', 'Total Students', 'Total Budget', 'Average Maths Score',
                                    'Average Reading Score', '% Passing Maths', '% Passing Reading', 
                                    '% Overall Passing'])
#apply formatting using mapping
#area_summary[]
#area_summary['Total Students'].map("{:,}")

Local Government Area summary DataFile creation - School results

In [17]:
#Perform calculations for a high level snapshot of school data.
# columns for df are 'School Type', 'Total Students', 'Per student Budget', 'Average Maths Score', '% Passing Maths','% Passing Reading', '% Overall Passing'
# Create a dataframe sorted by schools
schools_sorted = school_data_complete.groupby('school_name')
math_avg = schools_sorted['maths_score'].mean()
read_avg = schools_sorted['read_score'].mean()

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64