# PyCity Schools Module 4 Challenge

In [2]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Loads 
school_data_to_load = Path("../Resources/schools_complete.csv")
student_data_to_load = Path("../Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635

Local Government Area summary DataFile creation - Student results

In [103]:
#Perform claculations for a high level snapshot of students 
#Calculate the total number of schools, store in variable
total_schools = school_data['school_name'].count()
#Calculate the total number of students, store in variable
total_students = student_data['student_name'].count()
#Calcluate the toal budget, store in variable.
total_budget = school_data['budget'].sum()
#Calculate the average maths score
avg_math = school_data_complete['maths_score'].mean()
#Calculate the average reading score
avg_read = school_data_complete['reading_score'].mean()
#Calculate the percent passing maths. Pass grade is 50
#Filter out those that received less than 50
passed_math = school_data_complete.loc[school_data_complete['maths_score']>49,:]
percent_math = passed_math['student_name'].count()/total_students *100
#Calculate the percent passing reading. Pass grade is 50
#filter out those that received less than 50.
passed_read = school_data_complete.loc[school_data_complete['reading_score']>49,:]
percent_read = passed_read['student_name'].count()/ total_students * 100
#Calculate the percent who passed both maths and reading. Combine passed_math and passed_read
passed_both = school_data_complete.loc[(school_data_complete['maths_score']>49) &
                                      (school_data_complete['reading_score']>49)]
percent_passed = passed_both['student_name'].count() / total_students * 100

In [65]:
#create the DataFile of the above results, called 'area_summary. and apply some formatting
area_summary = pd.DataFrame([[total_schools, total_students, total_budget, avg_math, avg_read,
                              percent_math, percent_read, percent_passed]],
                            columns=['Total Schools', 'Total Students', 'Total Budget', 'Average Maths Score',
                                    'Average Reading Score', '% Passing Maths', '% Passing Reading', 
                                    '% Overall Passing'])

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,86.078632,84.426857,72.808272

School Summary creation

In [135]:
#Perform calculations for a high level snapshot of school data.
#apply sorting by school on the passed math list
math_sort = pd.DataFrame(passed_math.groupby(['school_name', 'size'])['student_name'].count())
read_sort = pd.DataFrame(passed_read.groupby(['school_name', 'size'])['student_name'].count())
comb_sort = pd.DataFrame(passed_read.groupby(['school_name', 'size'])['student_name'].count())

In [ ]:
#create the DataFile of the above results, called 'area_summary. and apply some formatting
area_summary = pd.DataFrame([[total_schools, total_students, total_budget, avg_math, avg_read,
                              percent_math, percent_read, percent_passed]],
                            columns=['Total Schools', 'Total Students', 'Total Budget', 'Average Maths Score',
                                    'Average Reading Score', '% Passing Maths', '% Passing Reading', 
                                    '% Overall Passing'])

In [134]:
# Create a dataframe sorted by schools
schools_sorted = school_data_complete.groupby(['school_name'])
schools_sorted_df = schools_sorted.reset_index()
#perform calculations on new dataframe
S_math_avg = schools_sorted['maths_score'].mean()
S_read_avg = schools_sorted['reading_score'].mean()
S_stud_budget = (school_data['budget']/ school_data['size'])
#S_passed_math = schools_sorted['maths_score'].mean()

#percent_read = passed_read['student_name'].count()/ total_students * 100

# columns for df are 'School Type', 'Total Students', 'Total School Budget', 'Per student Budget', 'Average Maths Score', '% Passing Maths','% Passing Reading', '% Overall Passing'
S_math_count = math_sort['maths_score'].count()


# create simplified DataFrame with only the columns we need, sorted by school name first. Named SS_simple
SS_simple = schools_sorted[['school_name','type','size', 'budget','student_name','reading_score', 'maths_score',]]
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

AttributeError: 'DataFrameGroupBy' object has no attribute 'reset_index'

Highest performing schools (by % Overall Passing)

In [ ]:
top_schools = df.head()

Lowest Performing Schools (by % Overall Passing)

In [ ]:
bottom_schools = df.head()

Maths Scores by Year

Reading Scores by year

Scores by School Spending

In [ ]:
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [ ]:
#mean scores by spending range for spending_summary
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Math"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [ ]:
#per_school_summary code and for type_summary, size_summary
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]